<!DOCTYPE html>
{% block html_tag %}
    <!--[if lt IE 8]>     <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="{{ app.request.locale }}"> <![endif]-->
    <!--[if IE 8]>        <html class="no-js ie8 lt-ie10 lt-ie9" lang="{{ app.request.locale }}"> <![endif]-->
    <!--[if IE 9]>        <html class="no-js ie9 lt-ie10" lang="{{ app.request.locale }}"> <![endif]-->
    <!--[if gt IE 9]><!--><html class="no-js" lang="{{ app.request.locale }}"><!--<![endif]-->
{% endblock html_tag %}
{% block head %}
    <head>
        <meta charset="utf-8" />
        {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        {% endblock head_meta %}
        <title>{% block title %}{% endblock title %}</title>
        {% block head_style %}{% endblock head_style %}
        {% block head_script %}{% endblock head_script %}
        {% block head_favicon %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        {% block head_bottom %}{% endblock head_bottom %}
    </head>
{% endblock head %}
{% block body_tag %}<body>{% endblock body_tag %}
    {% block body_top %}{% endblock body_top %}
    {% block body %}
        {% block body_script_top %}{% endblock body_script_top %}
        {% block container %}
            <div class="{% block container_class %}container  wrapper{% endblock container_class %}">
                {% block header %}{% endblock header %}
                <div class="content">
                    {% block content %}{% endblock content %}
                </div>
                {% block footer %}{% endblock footer %}
            </div>
        {% endblock container %}
        {% block body_script_bottom %}{% endblock body_script_bottom %}
    {% endblock body %}
    {% block body_bottom %}{% endblock body_bottom %}
</body>
</html>