{% extends '::base.html.twig' %}

{% block head_style %}
    {% stylesheets
        'bundles/mbsite/sass/theme.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_script %}
    {% javascripts
        'bundles/mbsite/components/modernizr/modernizr.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
        'bundles/mbsite/components/selectivizr/selectivizr.js' %}
        <!--[if (gte IE 6)&(lte IE 8)]>          
        <script src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts %}
{% endblock %}

{% block body_script_bottom %}
    {% javascripts
        'bundles/mbsite/components/jquery/jquery.min.js'
        'bundles/mbsite/js/init.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}Site title{% endblock %}

{% block header %}
    <header>
        <nav>{{ knp_menu_render('MBSiteBundle:MenuBuilder:mainMenu') }}</nav>
    </header>
{% endblock %}

{% block footer %}
    <footer>
        <span class="credits">Website door <a href="http://www.martinbroos.nl" rel="external">Martin Broos</a>
    </footer>
{% endblock %}