{% extends '::base.html.twig' %}

{% block title %}Site title{% endblock %}

{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/dist/css/theme.css') }}" />
{% endblock %}

{% block head_script %}
    <script src="{{ asset('assets/vendor/modernizr/modernizr.js') }}"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="{{ asset('assets/vendor/selectivizr/selectivizr.js') }}"></script>
    <![endif]-->
{% endblock %}

{% block body_script_bottom %}
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/parsleyjs/parsley.js') }}"></script>
    <script src="{{ asset('assets/vendor/parsleyjs/i18n/messages.nl.js') }}"></script>
    <script src="{{ asset('assets/dist/js/script.js') }}"></script>
{% endblock %}

{% block header %}
    <div class="site--retain">
        <header>
            <nav>
                {{ knp_menu_render('MBSiteBundle:MenuBuilder:mainMenu') }}
            </nav>
        </header>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="site--retain">
            <span class="credits">Website door <a href="http://www.martinbroos.nl" rel="external">Martin Broos</a></span>
        </div>
    </footer>
{% endblock %}
